body { 
    background-color: black;
    font-family: Verdana;
    text-align: center;
}

h1 {
    
    font-weight: normal;
    font-size: 50px;
    color: white;
    
}

.link{
    color: aquamarine;
    
    font-size: 16px;
}

h2 {
    color: white;
    font-weight: 300;
    font-size: 42px;
}

.excurison-desc {
    font-size: 21px;
    color: gray;
}
